<div ng-controller='ArticleNewCtrl'>
  <h3> Post a new article </h3>
  <ng-form='ArticleNew' role='form'>
    <div class='row'>
      <div class='col-xs-8'>
        <div class='form-group'>
          <label for='article-title' class='sr-only'>Title</label>
          <input type='text' ng-model='article.title' class='form-control input-lg' id='article-title' placeholder='Title'>
        </div>
      </div>
    </div>

    <div class='form-group'>
      <label for='article-body' class='sr-only'>Article Body</label>
      <textarea ng-model='article.body' class='form-control' rows='9'  placeholder='Article'></textarea>
    </div>

    <div class='form-group'>
      <label for='published-at'>Published At</label>
      <input ng-model='article.publishedAt' type='datetime-local' class='form-control'>
    </div>

    <span>
      <h3>Tags</h3>
      <strong ng-repeat='tag in article.tags'> {{ tag }}</strong>
    </span>
    <div class='row'>
      <div class='col-xs-2'>
        <div class='form-group'>
          <input class='form-control' ng-model='articleTag'>
          <button type='button' ng-click='addTag(articleTag)' class='btn btn-default btn-sm' >
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
    </div>
    <div class='form-group'>
      <button type='submit' class='btn btn-info'>Submit</button>
    </div>
  </form>

</div>
