<div class="jumbotron">
  <div class="container">
    <h1>Hello, World!</h1>
    <p>Welcome to my website. It was built using Rails and AngularJS, with a fully automated testing suite for both AngularJS and Rails. My name is Chase Jensen. I'm a Ruby on Rails and JavaScript freelancer, but I do a lot more. Click that big button below. </p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>
</div>

<!-- <h4>I like to write beautiful code</h4> -->
<!-- <h5>I'm particularly fond of Ruby, Javascript, Rails, Angular, jQuery</h5> -->
